:root {
	--black: #000000;
	--gray: rgb(120, 120, 120);
	--beige: beige;
}

* {
	box-sizing: border-box;
	text-underline-offset: 3px;
}

body {
	margin:0;
	background-color:var(--beige);
	font-family:sans-serif;
	font-size:1.25em;
	line-height: 175%;
}

/* TEXT AND STUFF! */

h1 {
	margin-bottom:0;
	margin-top:0;
	text-transform: uppercase;
}

h3 {
	margin:0;
}

ul {
	margin-top:0;
}

.subheader, .work-filter {
	margin-top:2px;
	margin-bottom:0;
	font-size:.85em;
}

a {
	color:var(--black);
	transition:.25s;
}

a:hover {
	color:var(--gray)
}

/* WORK FILTER! */

.work-filter {
	display:flex;
	list-style-type: none;
	padding-left:0;
}

.work-filter li {
	padding: 0 30px 0 0;
	margin-right:10px;
	cursor: pointer;
	transition:.25s;
	color:var(--gray)
}

.work-filter li:hover {
	text-decoration: underline;
	color:var(--black)
}

.active-filter {
	text-decoration: underline;
}

/* THE ARTICLES! */

article {
	border-bottom:1px solid black;
	padding:15px 0 30px;
}

.hidden {
	display:none;
}

.project-topline {
	display:flex;
	justify-content: space-between;
}

.project > p {
	margin:5px 0;
}

.project-images {
	display:flex;
	gap:15px;
}

.work-image {
	max-height:125px;
	cursor: pointer;
}

article:last-of-type {
	border-bottom:none;
}

@media only screen and (min-width: 992px) {
	main {
		display:flex;
		gap:10px;
		/* padding:0 5vw; */
	}

	section {
		flex-basis:1;
		padding:2vw;
	}

	.bio {
		flex:1;
		position:sticky;
		top:0;
		align-self:flex-start
	}

	.work {
		flex:2;
	}
}